.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.todolist {

  background-color: rosybrown;
  border:1px solid black;
}

.error {
  border: 1px solid red;
}
.error-message {
  color:red;
}

.active-filter {
  background-color: aquamarine;
}

.done {
  opacity: .5;
}